*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Arial,
        Tahoma, sans-serif;
}

body {
    background-color: #535353;
}

/* Header and Nav */
header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}

nav {
    max-width: 1024px;
    margin: 0 auto;
}

nav button {
    font-size: 1em; /* Set the font size to match the anchor elements */
    height: 70px; /* Set the height to match the line height of the anchor elements */
    width: 100px;
    padding: 10px 10px; /* Add padding to the button as needed */
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

nav p #botonCorp {
    font-family: geostar;
    font-weight: bold;
    color: #f00;
    -webkit-text-stroke: 4px black;
    text-align: left;
    margin-left: 50px;
  }

nav ul {
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 0 10px;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: black;
    background-color: white;
    border: 1px solid grey;
}

nav li a:hover {
    color: white;
    background-color: black;
}

nav li img {
    max-height: 40px; 
    max-width: 40px; 
    vertical-align: middle; 
}

/* Main */

section {
    margin: 0px;
    padding: 0px;
    border: 0;
  }
  
  .portada {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 600px;
    background-image: url(../img/cielo.jpg);
    background-size: cover;
    background-position: center;
    border: 0px;
  }
  
  .portada #imagenCorporativa {
    font-family: geostar;
    font-weight: bold;
    font-size: 110px;
    color: #f00;
    -webkit-text-stroke: 4px black;
    text-align: left;
    margin-left: 50px;
  }
  
  .portada #titulos {
    font-family: inter;
    background: linear-gradient(to left, #d37b7b, #ce3f3f);
    color: transparent;
    font-size: 40px;
    text-align: bottom;
    -webkit-background-clip: text;
  }
  

/* Noticias */
.noticias {
    margin-top: 20px;
    padding: 20px;
}

.noticias h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: yellow;
}

.noticiasTablas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



.noticiasTablas table {
    width: 30%; 
    background-color: #eee;
    margin-right: 30px;
}

.imagenNoticias {

    width: 30%;
}

.noticiasFin {
    text-align: center;
}

.noticiasFin button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.noticiasFin button:hover {
    background-color: #333;
}

/* Portada de Articulos */

/* Portada de Artículos */
.portadaArticulos {
    margin-top: 20px;
    padding: 20px;
}

.portadaArticulos h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: yellow;
}

/* Portada de Tendencias */
.portadaTendencias {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.portadaTendencias div {
    width: 23%; /* 25% - 2% margin */
    background-size: cover;
    background-position: center;
    background-color: #eee;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.portadaTendencias table {
    width: 100%;
    height: 100%;
}

.portadaTendencias table img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.imagenUsuario {

    max-height: 40px; 
    max-width: 40px; 
    vertical-align: middle; 
}

.portadaTendencias .cuadradoGris {
    background-color: #888;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.portadaTendencias .Likes button,
.portadaTendencias .Favoritos button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.portadaTendencias .Likes button::before {
    content: "\2764"; /* Unicode heart symbol */
    font-size: 24px;
    color: red;
}

.portadaTendencias .Favoritos button::before {
    content: "\2605"; /* Unicode star symbol */
    font-size: 24px;
    color: gold;
}
