body {
    background-color: #535353;
    margin: 0; /* Agregado para eliminar el espacio de margen predeterminado del body */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inria Serif', 'Inter Bold', Lato;
    box-sizing: border-box; /* Agregado para incluir el padding y el borde en el tamaño total */
}

/* Contenido del Header */
header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}

nav {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {

    width: 40px;
    height: 40px;

}

nav li {
    display: inline-block; /* Cambiado de block a inline-block */
}

nav li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: black;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px; /* Agregado para bordes redondeados */
    display: inline-block; /* Añadido para alinear verticalmente */
}

nav li a:hover {
    color: white;
    background-color: black;
}

nav #imagenCorporativa {

    font-size: 40px;
    text-align: center;
    -webkit-text-stroke: 2px black;
}


.usuarioBoton {
    position: relative;
}

.usuarioBoton a {
    display: block;
    background: white;
    border: none;
    border-radius: 5px; 
    width: 40px;
    height: 40px;

}

.iconoCorp {
    display: block;
    background: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    
}

.iconoCorp #imagenCorporativa {

    text-align: center;
}


.menuBoton {
    position: relative;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
}

.desplegableBoton {
    background: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px; /* Agregado para bordes redondeados */
}

.menuBoton img {
    width: 30px;
    height: 30px; 
}

.menuOpciones {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    text-align: center;
    width: 100%; /* Cambiado de 200px a 100% */
    background-color: black; /* Cambia el color de fondo a negro */
    color: white; /* Cambia el color del texto a blanco */
    padding: 10px; /* Añade un espacio alrededor de las opciones */
    border-radius: 5px; /* Agregado para bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agregado para sombra */
}

.menuOpciones li {
    display: block;
}


/* Muestra el menú desplegable al pasar por encima del botón de opciones */
.menuBoton:hover .menuOpciones, .menuBoton:focus-within .menuOpciones {
    display: block;
}

/* Contenido del Main */

section {

    margin: 0px;
    padding: 0px;
    border: 0;


    
}

.portada{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 600px;
    background-image: url(../img/cielo.jpg);
    background-size: cover;
    background-position: center;
    border: 0px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), url(../img/cielo.jpg));
}

    #imagenCorporativa {

        font-family: geostar;
        font-weight: bold;
        font-size: 110px;
        color: #f00;
        -webkit-text-stroke: 4px black;
        text-align: left;
        margin-left: 50px;
    }

    #titulos {

        font-family: inter;
        background: linear-gradient(to left, #d37b7b, #ce3f3f);
        color: transparent;
        font-size: 40px;
        text-align: bottom;
        -webkit-background-clip: text;

    }

.noticias {

    width: 100%;
    height: 100px;
    padding: 20px;

}

.noticias #rotulo {

    margin: auto;
    padding: 5px;
}
 
    #rotulo {

        font-family: inter;
        color: yellow;
        font-size: 40px;
    }

    #noticia1, #noticia2 {

        display: inline-block;
        background: gray;
        border: none;
        width: 33%;
        height: 350px;
    }

    #noticia1 img {

        width: auto;
        padding: auto;
    }

    #noticiasAntiguas {

        display: inline-block;
        width: 33%;
        height: 350px;
    }





